

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

.purple{
    color: #6415ff;
}

p{
    line-height: 1.5;
}


/*NAV BAR*/

nav{
    padding-top: 32px;
    height: 80px;
    display: flex;
}

.nav__container{
    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

h1{
    font-weight: bold;
}
.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.nav__link{
    padding: 8px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    font-weight: 600;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}

a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
    text-decoration-color: #6415ff;
    text-decoration-thickness: 2px; 
    text-underline-offset: 8px;
}

li{
    list-style: none;
}


.nav__logo--img{
    width: 40px;
    height: 40px;
}

.nav__logo--title{
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 0.6px;
    font-weight: 900;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__btn{
    margin: 0;
    width: auto;
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    border: none;
    padding: 10px 32px;
    line-height: 1.5;
    font-weight: bold;
    cursor: pointer;
}

/* HEADER */

.container{
    padding-top: 80px;
    max-width: 1280px;
}

.row{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}


.header__img{
    width: 100%;
    max-width: 768px;
}

.header__customers{
    margin-top: 16px;
    opacity: 0.5;
    max-width: 350px;

}

.header__description--title{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para{
    margin: 32px 0;
    font-size: 18px;
    max-width: 400px;
}

.input-wrapper{
    position: relative;
}

.header__input{
    width: 100%;
    padding: 20px 192px 20px 32px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    font-size: 14px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-color 300ms;
    opacity: 0.5;
}

.header__email--btn{
    position: absolute;
    width: 160px;
    right: 8px;
    top: 50%;
    height: calc(100% - 16px);
    transform: translateY(-50%);
    padding: 8px 16px;
    background-color:#6415ff;
    color: white;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}


.header__email--btn:hover {
  background-color: rgba(60, 13, 153);;
}

.header__input:hover{
    border-color: #1a202c;
}

.header__customers--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}
